div.postOne{
    margin-bottom: 15px;
    /*position: relative;*/
    /*  left: 25%;*/

}

form.formOne{
    position: relative;
    left: 25%;
}

input.postThree{
  border:0;
  border-bottom: 1px solid black;

  outline: none;
}

textarea.postTwo {
   display: block;
  width: 50%;
  height: 340px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);

  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

    position: relative;
/*top: calc(50% - 270px);*/
}

