div.pic {
  background-image: url("../img/hi.jpg");
  background-size: 100%;
  min-height: 249px;
  height: auto !important;
  height: 249px;
}

p.font {
  font-family: 'Playball', cursive;
  font-size: 65px;
  line-height: 28px;
  color: #131313;
  text-align: center;
  position: relative;
  top: 70px;
}
  @font-face {
    font-family: 'Playball';
    src: url("../font/Playball-Regular.ttf");
  }

div.boxLF{
  position: absolute;
  width: 65%;
  left: 100px;
  margin-top: 40px;
  /*height: 16%;*/
  height: 990px;
  border: 1px solid rgba(250, 250, 250, 0.67);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

input.lInput{
  outline: none;
  border:0;
  border-bottom: 2px solid #7e7e7e;
  width: 60%;
  font-size: 15px;
}

label.lPostFont{
  font-family: 'Arial Rounded MT Bold', 'Arial', sans-serif;
  font-size: 15px;
}

input.lInputOne{
  outline: none;
  border:0;
  border-bottom: 2px solid #7e7e7e;
  width: 60%;
  font-size: 15px;
}