div.pic {
  background-image: url("../img/hi.jpg");
  background-size: 100%;
  min-height: 249px;
  height: auto !important;
  height: 249px;
}

p.font {
  font-family: 'Playball', cursive;
  font-size: 65px;
  line-height: 28px;
  color: #131313;
  text-align: center;
  position: relative;
  top: 70px;
}
  @font-face {
    font-family: 'Playball';
    src: url("../font/Playball-Regular.ttf");
  }

div.boxLF{
  position: absolute;
  width: 63%;
  left: 100px;
  top: 380px;
  /*height: 16%;*/
  border: 1px solid rgba(250, 250, 250, 0.67);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

input.lInput{
  outline: none;
  border:0;
  border-bottom: 2px solid #7e7e7e;
  width: 60%;
  font-size: 15px;
}

label.lPostFont{
  font-family: 'arlrdbd', 'Arial', sans-serif;
  font-size: 15px;
}

input.lInputOne{
  outline: none;
  border:0;
  border-bottom: 2px solid #7e7e7e;
  width: 60%;
  font-size: 15px;
}

form.lForm{
  position: relative;
  margin-left: 20%;
  margin-top: 50px;
}

textarea.postTwo.lNew{
  height: 100px;
}

img.photo{
	position: absolute;
	margin-left: 50px;
	margin-top: 20px;
	height: 140px;
	width: 140px;
	border-radius: 6px;
}

p.lOne{
  position: relative;
  margin-left: 90px;
  top: 25px;
  font-family: 'arlrdbd', sans-serif;
  font-size: 23px;
}

@font-face {
  font-family: 'arlrdbd';
  src: url("../font/arlrdbd.ttf");
}

p.lInfo{
  position: relative;
  font-family: 'arlrdbd', sans-serif;
  font-size: 21px;
  margin-left: 860px;
  margin-top: -40px;
}

p.lInfo.name{
  position: relative;
  font-family: 'arlrdbd', sans-serif;
  font-size: 21px;
  margin-left: 730px;
  margin-top: 12px;
}

p.details{
  position: absolute;
  font-family: 'arlrdbd', sans-serif;
  font-size: 21px;
  margin-left: 280px;
  margin-top: 25px;
  width: 380px;
  word-wrap:break-word;
  word-break:break-all;
  overflow: hidden;
}

p.details.name{
  position: relative;
  font-family: 'arlrdbd', sans-serif;
  font-size: 21px;
  margin-left: 300px;
  margin-top: -15px;
}

p.line{
  position: relative;
  margin-top: 30px;
  border-bottom: 2px solid #cfd4d9;
}

p.leftLine{
  border-left: 2px solid #cfd4d9;
}