body.color {
    /*background-color: #f3f3ec;*/
        background-color: #efefef;

}


div.box_two{
    position: relative;
    width: 100%;
    height: 18%;
    border: 1px solid rgba(250, 250, 250, 0.67);
    /*margin-top: 50px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

div.tit{
    text-align: center;
    font-size: 40px;
    color: #000000;
    /*border-bottom: 1px solid #979d9d;*/
    margin-top: 1%;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

div.box_three{
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 18%;
    border: 1px solid rgba(246, 245, 245, 0.67);
    /*margin-top: 50px;*/
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;

}
