body.color {
    /*background-color: #f3f3ec;*/
        background-color: #efefef;

}


div.boxOne{
    position: absolute;
    width: 100%;
    /*height: 16%;*/
    height: 180px;
    border: 1px solid rgba(250, 250, 250, 0.67);
    /*margin-top: 50px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

div.tit{
    margin-left: 18%;
    font-size: 40px;
    color: #000000;
    /*border-bottom: 1px solid #979d9d;*/
    margin-top: 1%;
    /*text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);*/
}

div.boxTwo{
    position: absolute;
    margin-top: 200px;
    font-size: 16px;
    width: 50%;
    margin-left: 15%;
    /*width: 70%;*/
    /*margin-left: 15%;*/
    border: 1px solid rgba(246, 245, 245, 0.67);
    /*margin-top: 50px;*/
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

div.post_body{
    margin: 2% 5%;
    line-height: 200%;
    /*margin-top: 2%;*/
    /*margin-bottom: 2%;*/
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
}

div.boxThree{
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
    /*border: 1px solid #979d9d;*/
    border: 1px solid rgba(192, 191, 191, 0.67);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

div.com{
    font-size: 18px;
    font-weight: 800;
    color: #000000;
    /*border-bottom: 1px solid #979d9d;*/
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;;
}

p.line{
    border-bottom:  2px solid rgba(192, 191, 191, 0.67);

}