div.relative {
  position: relative;
  left: -100px;
}

div.remember {
  position: relative;
  left: 20px;
}

/*body {*/
/*  background-image: url('../img/2.jpg');*/
/*  background-size:cover*/
/*  }*/

a.forumName{
  font-family: 'Arial Rounded MT Bold';
  position:relative;
  z-index:9999;
  font-style: normal;
  font-weight: 450;
  font-size: 50px;
  line-height: 10px;
  left: -150px;
/* identical to box height, or 0% */

color: rgb(246, 0, 0);

mix-blend-mode: multiply;
/*border: 1px solid rgba(12, 211, 164, 0.89);*/
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#log_one,
div.log{
  position: absolute;
  left: calc(50% - 190px);
  /*left: 800px;*/
  top: calc(50% - 235px);
  /*position:relative;*/
  /*margin: auto;*/

  /*!*left: 1780px;*!*/
  /*left: -84px;*/

  /*!*left: 50%;*!*/
  /*padding: 70px 0;*/
  /*  border: 3px solid green;*/
  /*  text-align: center;*/
}

div.box{
  position: absolute;
width: 450px;
height: 470px;
  opacity:0.7;

background: #FFFFFF;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  top: calc(50% - 270px);
  left: calc(50% - 225px);

}

div.box_register{
  position: absolute;
width: 490px;
height: 560px;
  opacity:0.7;

background: #FFFFFF;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  top: calc(50% - 270px);
  left: calc(50% - 240px);

}

p.aaa{
  position: absolute;
  top: 50%;
  left: 50%;
}

p.rem{
  zoom: 140%;
  font-family: 'Arial Rounded MT Bold';
  color: rgb(50, 64, 204);
}

input.submit{
  background-color: #3b95ff; /* Green */

    border: none;
    color: white;
    padding: 15px 152px;
    font-family: 'Arial Rounded MT Bold';
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  border-radius: 8px;
}

input.sub:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

p.choose{
      font-family: 'Arial Rounded MT Bold';
      color: #4d4848;
    text-align: center;
  font-weight: 450;
  font-size: 30px;
  margin: -20px 33px;
}

p.choose1{
      font-family: 'Arial Rounded MT Bold';
      color:  #4d4848;
    text-align: center;
  font-weight: 450;
  font-size: 30px;
  margin: -20px 75px;
}

div.line p{
  display: inline-table
}

a.back {
    text-decoration:none;
    color: #4d4848;
}