div.relative {
  position: relative;
  left: -100px;
}

div.remember {
  position: relative;
  left: 20px;
}

/*body {*/
/*  background-image: url('../img/2.jpg');*/
/*  background-size:cover*/
/*  }*/

a.forumName{
  font-family: 'Arial Rounded MT Bold';
  position:relative;
  z-index:9999;
  font-style: normal;
  font-weight: 450;
  font-size: 50px;
  line-height: 10px;
  left: -150px;
/* identical to box height, or 0% */

color: rgb(246, 0, 0);

mix-blend-mode: multiply;
/*border: 1px solid rgba(12, 211, 164, 0.89);*/
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#log_one,
div.log{
  position:relative;
  /*left: 1780px;*/
  left: 50%;
}

