div.relative {
  position: relative;
  left: -100px;
}

div.remember {
  position: relative;
  left: 20px;
}

/*body {*/
/*  background-image: url('../img/2.jpg');*/
/*  background-size:cover*/
/*  }*/

