* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
div.c1{
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    background-color: #619ac3;
    position:absolute;
    left:360px;
    top:150px;
}
body {
	width: 100vm;
	background-color: #f2f2f2;
}
.sidebar {
	position: relative;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: -26px;
	line-height: 50px;
}
.sidebar input {
	display: none;
}
.sidebar label {
	position: absolute;
	top: -3px;
	left: 200px;
	font-size: 30px;
	color: #666;
	padding-left: 20px;
	cursor: pointer;
	transition: all 0.5s;
}
.sidebar ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 110vh;
	background-color: #20222a;
	transition: all 0.5s;
}
.sidebar ul li {
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
}
.sidebar ul li:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 125px;
	padding: 10px;
}
.sidebar ul li:first-child img {
	width: 80px;
	border-radius: 50%;
}
.sidebar ul li:first-child span {
	color: #fff;
	font-size: 20px;
	white-space: nowrap;
}
.sidebar ul li a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #d2d2d2;
	text-decoration: none;
	border-left: 6px solid transparent;
}
.sidebar ul li a i {
	font-size: 20px;
	margin: 0 15px;
}
.sidebar ul li a span {
	font-size: 20px;
}
.sidebar ul li a:hover {
	color: #fff;
	border-left-color:#1f6377;
}
.sidebar input:checked + label {
	left: 0;
}
.sidebar input:checked + label i {
	transform: rotateY(180deg);
}
.sidebar input:checked ~ ul {
	left: -200px;
}
img{
width: 100%;
}
p.c2{
position:absolute;
left:380px;
top:310px;
}
h1{
text-align:center;
}

div.user{
	position: absolute;
	left: calc(50% + 10px);
}
/*p{*/
/*!*text-align:center;*!*/
/*	position: absolute;*/
/*!*	left: 1000px;*!*/
/*!*	        padding: 1px 20px 5px 900px;*!*/
/*  left: calc(50% - 225px);*/

/*}*/
input.Submit{
  background-color: #19BCBD; /* Green */
	position: absolute;
    left: calc(50% - 80px);
    border: none;
    color: white;
    padding: 10px 15px;
    /*font-family: 'Arial Rounded MT Bold';*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  border-radius: 12px;
}

input.a:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
input.Upload{
  background-color: #19BCBD; /* Green */
	position:absolute;
	left:calc(50% - 680px);
	top:200px;
    border: none;
    color: white;
    padding: 10px 15px;
    /*font-family: 'Arial Rounded MT Bold';*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  border-radius: 12px;
}

input.portrait:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

div.contain.flash{
	z-index: 999;
	position: absolute;
	width: 50%;
	text-align: center;
	left: 25%;

}

.xxx{
	position: absolute;
	left: -50px;
}


.alert-warningUser {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}