
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--<link rel='stylesheet' id='bootstrap-css-css'  href='../../lib/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />-->
<!--<link rel='stylesheet' id='responsive-css-css'  href='../../lib/css/responsive5152.css?ver=1.0' type='text/css' media='all' />-->
<!--&lt;!&ndash;                <link rel='stylesheet' id='pretty-photo-css-css'  href='../../../../2008jproject/app/static/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />&ndash;&gt;-->
<!--<link rel='stylesheet' id='main-css-css'  href='../../lib/css/main5152.css?ver=1.0' type='text/css' media='all' />-->


{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Group1</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
    <li><a href=" {{url_for('auth.register')}}">Registration</a ></li>
</ul>

            <a class="navbar-brand navbar-right" href="{{url_for('auth.userinfo')}}">Account</a>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}">Sign In</a></li>
                {% endif %}
            </ul>

        </div>

    </div>
</div>
{% endblock %}