<!DOCTYPE html>
	<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Forum of Beijing University of Technology</title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet' id='bootstrap-css-css'  href='./css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
		<link rel='stylesheet' id='main-css-css'  href='./css/main5152.css?ver=1.0' type='text/css' media='all' />
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/templatemo-style.css">
		<script src="./js/jquery-1.10.2.min.js"></script>
    </head>
    <body>

<!--       <div class="sidebar-menu hidden-xs hidden-sm" style="display: none;" id="orders">-->
<!--            <div class="top-section">-->
<!--                <div class="profile-image">-->
<!--                    <img src="img/profile.jpg" alt="Volton">-->
<!--                </div>-->
<!--                &lt;!&ndash; <h3 class="profile-title">admin</h3> &ndash;&gt;-->
<!--            <p class="profile-description">-->
<!--					<a class="loginOrRegist" href="#">登录</a>-->
<!--					<a class="loginOrRegist" href="#">注册</a>-->
<!--				</p>-->
<!--            </div> -->
<!--            <div class="main-navigation">-->
<!--                <ul class="navigation">-->
<!--                    <li><a href="#"><i class="fa fa-globe"></i>我的帖子</a></li>-->
<!--                    <li><a href="#"><i class="fa fa-pencil"></i>我的评论</a></li>-->
<!--                    <li><a href="#"><i class="fa fa-paperclip"></i>我的收藏</a></li>-->
<!--                </ul>-->
<!--            </div> -->
<!--        </div>-->


        <div class="banner-bg isNoOrder01" id="top">
            <div class="banner-overlay">
<!--				<div class="order" id="orderClick"></div>-->
				<div class="logo"></div>
				<div class="systemName">BJUT Student Forum</div>
			</div>
        </div>

        <!-- MAIN CONTENT -->
        <div class="main-content page-container isNoOrder02" id="main">
            <div class="fluid-container">

                <div class="content-wrapper">

                    <!-- 导航栏 -->
                    <div class="page-section" id="about">
                    <div class="row">
                        <div class="col-md-12">
						<hr>
							<ul class="navbar-nav navShow">
								<li class="nav-item active">
							      <a class="nav-link" href="#">A版</a>
							    </li>
								<li class="nav-item active">
								  <a class="nav-link" href="#">B版</a>
								</li>
								<li class="nav-item active">
								  <a class="nav-link" href="#">C版</a>
								</li>
								<li class="nav-item active">
								  <a class="nav-link" href="#">D版</a>
								</li>
								<li class="nav-item active" style="border-right: none;">
								  <a class="nav-link" href="#">F版</a>
								</li>
								</ul>
                            <!-- </nav> -->
                            <hr>
                        </div>
                    </div> <!-- #about -->
                    </div>

                    <!-- PROJECTS -->
                    <div class="page-section" id="projects">
                    <div class="row">

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">Latest vaccination policy</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-14</span>
											<span class="category">admin</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“Combining the national epidemic situation
									and the action trajectory of confirmed cases
									in Beijing, the latest epidemic prevention
									and control policy is as follows, please
									read it carefully and strictly follow
									the prevention and control policy.”
								</p>
							</article>
						</div>

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">Sino- Irish Culture Week</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-12</span>
											<span class="category">Beijing-Dublin International College</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“To help students understand the charm of Chinese-Irish culture,
									Beijing-Dublin International College will hold a series of activities
									for Sino- Irish Culture Week from March 14-18, so that you can
									experience the interesting Chinese- Irish culture in-depth,
									let's drive together to see what is available!”
								</p>
							</article>
						</div>

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">3.15 avoidance list</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-15</span>
											<span class="category">Belle</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“315 live is over,
									I summarized the list of mentioned
									food with problems, you can avoid these businesses.”
								</p>
							</article>
						</div>

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">Do you think the taste of the cafeteria has changed this semester?</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-14</span>
											<span class="category">Timi</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“I don't know whether it's because the holidays just ended,
									but I feel that the dining hall meals are not as good as last semester?
									Do you all think the same as me?”
								</p>
							</article>
						</div>

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">Qingming holiday travel strategy</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-16</span>
											<span class="category">Sephi</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“he Qingming Festival is coming up,
									the current epidemic situation is not too optimistic,
									remote travel is basically impossible,
									here to share my personal summary of some local places
									to visit in Beijing for the Qingming Festival.”
								</p>
							</article>
						</div>
						<div id="pagination">
						    <a href="#" class="btn active">1</a>
						    <a href="#" class="btn">2</a>
						    <a href="#" class="btn">3</a>
						    <a href="#" class="btn">Next »</a>
						    <a href="#" class="btn">Last »</a>
						</div>
                    </div>
                    </div>

                    <hr>

                    <div class="row" id="footer">
                        <div class="col-md-12 text-center">
							<p class="copyright-text"><strong> Copyright © 2022 BDIC Students Forum</strong> All rights reserved.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</body>

<script>
	var flag = 0;
	var obj1 = document.getElementById("top");
	var obj2 = document.getElementById("main");
	$("#orderClick").click(function(){
		if(flag==0){
			$("#orders").show();
			obj1.setAttribute("class","banner-bg");
			obj2.setAttribute("class","main-content page-container");
			flag=1;
		}else{
			$("#orders").hide();
			obj1.setAttribute("class","banner-bg isNoOrder01");
			obj2.setAttribute("class","main-content page-container isNoOrder02");
			flag=0;
		}
	})

</script>

</html>