{% extends "bootstrap/base.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
<!--<!Doctype html>-->
        <head>

                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>BJUT Forum</title>

                <link rel="shortcut icon" href="../static/img/logo.jpeg" />

                <link rel='stylesheet' id='main-css-css' href='../static/css_b/main_index.css' type='text/css' media='all' />
                <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

				<link rel="stylesheet" href="../static/css_userinfo/userinfo.css" type="text/css">
				<link rel="stylesheet" href="../static/css/homepage.css" type="text/css">
                <script src="/static/js_echarts/echarts.min.js"></script>
                <script type="text/javascript" src="/static/js_echarts/jquery.min.js"></script>
                <script type="text/javascript" src="/static/js_echarts/echarts-wordcloud.js"></script>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-liquidfill.min.js"></script>
        </head>

        <body>

        <div>
        {% include 'base.html' %}
        </div>


        <div class="contain flash" >
	{% for message in get_flashed_messages() %}
	<div class="alert alert-info">
    <button type="button" class="closeU xxx" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">Close</span>
  </button>

        <strong>{{ message }}</strong>
</div>
{% endfor %}
	</div>


 		<!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h3 class="search-header">Forum of Beijing University of Technology</h3>
                                <p class="search-tag-line">Persistent Pursuit of Truth as Aim, Persistent Innovation as Way</p>

<!--                                <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">-->


                             <form action=""  class="search-form clearfix" method="post" novalidate autocomplete="off">
                                 {{ form.csrf_token }}

                            <input id="text" class="search-term required" type="text" name="text" placeholder="Search whatever you want" title="Please enter a search term">

                                <button class="searchBtn" name="submit" type="submit" ><span>Search</span></button>
                                 <div id="search-error-container"></div>
                            </form>

<!--                                <form id="search-form" class="search-form clearfix" method="get"  autocomplete="off">-->

<!--                                        <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here" title="* Please enter a search term!" />-->
<!--                                        <input class="search-btn" type="submit" value="Search" />-->
<!--                                        <div id="search-error-container"></div>-->
<!--                                </form>-->
                        </div>
                </div>
                <!-- End of Search Wrapper -->


                <!-- Start of Page Container -->
<select onchange="location.href = this.options[this.selectedIndex].value" name="category" style="outline: none" class="selectPosition">
<!--            <option selected>Category</option>-->
            <option value="none" selected disabled hidden>Category</option>
            <option value="{{ url_for('.show_all') }}"> Show All </option>

        {% for category in categories %}
                    <!--         注意这里的current_board_id数据类型是int，才能与board.id相比较           -->
                    {% if category_id != category.id %}
                        <!--    url_for('front.index', board_id=board.id)每次点击跳转到front_index.html页面，即当前界面，且传输给一个board_id的参数值，由board.id赋值            -->
    <option value="{{ url_for('main.index', category_id=category.id, st=current_sort ) }}">{{ category.name }}</option>

                        <!--  没被选中，即没有被传输相同的board.id，图标样式是class="list-group-item">    -->
<!--    <option value="{{ url_for('main.index', category_id=category.id, st=current_sort ) }}">{{ category.name }}</option>-->
                    {% endif %}
                {% endfor %}
 </select>
    <div id="liquid" class="chart-container" style="float:right; width:400px; height:400px;"></div>


	<div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                            <div class="page-section" id="projects_New">
                    <div class="row">

                        <ul class="nav nav-tabs">
                            <li  class="{% if not show_followed %}active{% endif %}" >

                                <a href="{{ url_for('.show_all') }}">All</a>

                            </li>
                            {% if current_user.is_authenticated %}
                            <li  class="{% if show_followed %}active{% endif %}">

                                <a href="{{ url_for('.show_followed') }}">Followed</a>
                            </li>
                                {% endif %}
                        </ul>

						<ul class="posts">
						{% for post in posts %}
						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a>
									</h3>
									<div class="post-meta clearfix">
                                        <span class="tag">
                                                {{post.categories}}
                                            </span>
											<span class="date">
                                                {{post.moment}}
                                            </span>
											<span class="category">
												<a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
											</span>
                                        <label class="count">Page View: {{ post.read_count }}</label>
									</div><!-- end of post meta -->
								</header>
								<div class="post-body">
                                     {% if post.body_html %}
                                        {{ post.body_html | safe }}
                                    {% else %}
                                        {{ post.body }}
                                    {% endif %}
                                </div>
							</article>

						</div>

						{% endfor %}
						</ul>

					</div>

                                                <div class="pagination">
                                                    {{ macros.pagination_widget(pagination, '.index') }}
                                                </div>

											</div>
										</div>
								</div>
						</div>

	</div>



        <div id="Cloud" class="chart-container" style="float:left; width:400px; height:500px;"></div>
		<form action="" method="post" class="formOne" role="form">
    {{ form.csrf_token }}


			<div class="postOne"><label class="postThree" for="body"><font size="5" >Post whatever you want:</font></label>
                            <br>
                <br>
<!--        <input style="border:0;border-bottom:1px solid black;">-->
                <label style="font-family: 'Arial Rounded MT Bold', 'Arial', sans-serif; font-size: 19px" for="lang">Category</label>
                <select style="outline: none" name="category_id" id="lang">
                    <option value="1">Entertainment</option>
                    <option value="2">Science and Technology</option>
                    <option value="3">Movie</option>
                    <option value="4">Teleplay</option>
                    <option value="5">Games</option>
                    <option value="6">Sports</option>
                    <option value="7">Knowledge</option>
                    <option value="8">News</option>
                    <option value="9">Daily Life</option>
                    <option value="10">Fashion</option>
                    <option value="11">Lost and Found</option>
                    <option value="12">Second Hand Transactions</option>
                    <option value="13">BJUT</option>
                </select>
                <br>
                <br>
<!--                <input class="postThree" name="category_id" placeholder="category_id" required/>-->

                <input class="postThree" name="title" placeholder="Subject" required/>
                <br>
                <br>
                <textarea class="postTwo" id="body" name="body" placeholder="Post whatever you want" required></textarea>

            </div>
<br>
			<br>
    <input class="submit_one sub_one" id="submit" name="submit" type="submit" value="Submit">

                        </div>



</form>


        <!-- Start of Footer -->
                <footer id="footer-wrapper">
                        <div id="footer" class="container">
                                <div class="row">

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">About Us</h3>
                                                        <div class="textwidget">
                                                            <p>We decided to make a web forum mainly face to BJUT students. Students can publish new posts on the forum and interact with other posts. </p>
                                                            <p> The forum will also be divided into several sections for students to access specific content as well as for administrators to manage it effectively.</p>
                                                        </div>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget"><h3 class="title">Categories</h3>
                                                        <ul>
                                                                <li><a href="#">Account</a> </li>
                                                                <li><a href="#">Posts</a></li>
                                                                <li><a href="#">Commons</a></li>
                                                                <li><a href="#" >Parties</a></li>
                                                                <li><a href="#">New Posts</a></li>
                                                                <li><a href="#">Privacy</a></li>
                                                        </ul>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">Privacy</h3>
                                                        <div id="twitter_update_list">
                                                                <ul>
                                                                        <li>If you want to know more about our privacy, please click <a href="#">here</a>.</li>
                                                                </ul>
                                                        </div>

                                                </section>
                                        </div>

                                    <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">Contact Us</h3>
                                                </section>
                                        </div>

                                </div>
                        </div>
                        <!-- end of #footer -->

                        <!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                <p class="copyright"><strong> Copyright © Group 1 Project- BJUT Student Forum</strong> All rights reserved.</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->


<!--					<div class="row" id="footer_one">-->
<!--                        <div class="col-md-12 text-center">-->
<!--							<p class="copyright-text"><strong> Copyright © Group 1 Project- BJUT Student Forum</strong> All rights reserved.</p>-->
<!--                        </div>-->
<!--                    </div>-->

                <a href="#top" id="scroll-top"></a>

    <script>
        var chart_liquid = echarts.init(
            document.getElementById('liquid'), 'white', {renderer: 'canvas'});
        var option_liquid = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "liquidFill",
            "radius": '60%',
            "name": "lq",
            "data": [0.6, 0.5, 0.4, 0.25],
            "waveAnimation": true,
            "animationDuration": 2000,
            "animationDurationUpdate": 1000,
            "color": [
                "#294D99",
                "#156ACF",
                "#1598ED",
                "#45BDFF"
            ],
            "shape": 'path://M367.855,428.202c-3.674-1.385-7.452-1.966-11.146-1.794c0.659-2.922,0.844-5.85,0.58-8.719 c-0.937-10.407-7.663-19.864-18.063-23.834c-10.697-4.043-22.298-1.168-29.902,6.403c3.015,0.026,6.074,0.594,9.035,1.728 c13.626,5.151,20.465,20.379,15.32,34.004c-1.905,5.02-5.177,9.115-9.22,12.05c-6.951,4.992-16.19,6.536-24.777,3.271 c-13.625-5.137-20.471-20.371-15.32-34.004c0.673-1.768,1.523-3.423,2.526-4.992h-0.014c0,0,0,0,0,0.014 c4.386-6.853,8.145-14.279,11.146-22.187c23.294-61.505-7.689-130.278-69.215-153.579c-61.532-23.293-130.279,7.69-153.579,69.202 c-6.371,16.785-8.679,34.097-7.426,50.901c0.026,0.554,0.079,1.121,0.132,1.688c4.973,57.107,41.767,109.148,98.945,130.793 c58.162,22.008,121.303,6.529,162.839-34.465c7.103-6.893,17.826-9.444,27.679-5.719c11.858,4.491,18.565,16.6,16.719,28.643 c4.438-3.126,8.033-7.564,10.117-13.045C389.751,449.992,382.411,433.709,367.855,428.202z',
            "outline": {
                "show": false
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "fontSize": 50,
                x:"left"
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "Online Users",
            x:"center",
            y:"40px",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_liquid.setOption(option_liquid);
    </script>
         <script>
        var chart_Cloud = echarts.init(
            document.getElementById('Cloud'), 'white', {renderer: 'canvas'});
        var option_Cloud = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                19,
                60
            ],
            "data": [
                {
                    "name": "Entertainment",
                    "value": 1000,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,140,80)"
                        }
                    }
                },
                {
                    "name": "Science and Technology",
                    "value": 618,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,100,53)"
                        }
                    }
                },
                {
                    "name": "Movie",
                    "value": 686,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,77,155)"
                        }
                    }
                },
                {
                    "name": "Teleplay",
                    "value": 455,
                    "textStyle": {
                        "normal": {
                            "color": "#d48265"
                        }
                    }
                },
                {
                    "name": "Games",
                    "value": 1067,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(86,45,153)"
                        }
                    }
                },
                {
                    "name": "Sports",
                    "value": 2244,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,160,5)"
                        }
                    }
                },
                {
                    "name": "Knowledge",
                    "value": 1868,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(61,26,136)"
                        }
                    }
                },
                {
                    "name": "News",
                    "value": 1484,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,2,3)"
                        }
                    }
                },
                {
                    "name": "Daily Life",
                    "value": 1112,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,92,52)"
                        }
                    }
                },
                {
                    "name": "Fashion",
                    "value": 865,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,17,102)"
                        }
                    }
                },
                {
                    "name": "Lost and Found",
                    "value": 847,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,23,120)"
                        }
                    }
                },
                {
                    "name": "Second Hand Transactions",
                    "value": 582,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,86,2)"
                        }
                    }
                },
                {
                    "name": "BJUT",
                    "value": 555,
                    "textStyle": {
                        "normal": {
                            "color": "#19BCBD"
                        }
                    }
                },
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 20,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "Category Heat",
            x: 'center',
            y: 'top',
            "pos_t": "center",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_Cloud.setOption(option_Cloud);
    </script>



        </body>
{% endblock %}
