
<!Doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
        <head>

                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>BJUT Forum</title>

                <link rel="shortcut icon" href="../static/img/3.jpeg" />

                <!-- Style Sheet-->
<!--                <link rel="stylesheet" href="style.css"/>-->
                <link rel='stylesheet' id='bootstrap-css-css'  href={{url_for("static", filename="css_b/bootstrap5152.css")}} type='text/css' media='all' />

<!--                <link rel='stylesheet' id='bootstrap-css-css'  href='../../lib/css/bootstrap5152.css' type='text/css' media='all' />-->
                <link rel='stylesheet' id='responsive-css-css' href='../static/css_b/responsive5152.css' type='text/css' media='all' />
                <link rel='stylesheet' id='pretty-photo-css-css' href='../static/js_b/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
                <link rel='stylesheet' id='main-css-css' href='../static/css_b/main5152.css' type='text/css' media='all' />
                <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

                <script src="../static/js_b/jquery-1.8.3.min.js"></script>


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="../../../../2008jproject/app/static/js_b/html5.js_b"></script>
                <![endif]-->

        </head>

        <body>

        <div>
        {% include 'base.html' %}
        </div>


                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h3 class="search-header">Forum of Beijing University of Technology</h3>
                                <p class="search-tag-line">Persistent Pursuit of Truth as Aim, Persistent Innovation as Way</p>

                                <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
                                        <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here" title="* Please enter a search term!" />
                                        <input class="search-btn" type="submit" value="Search" />
                                        <div id="search-error-container"></div>
                                </form>
                        </div>
                </div>
                <!-- End of Search Wrapper -->


                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

{#                                                <!-- Basic Home Page Template -->#}
{#                                                <div class="row separator">#}
{#                                                        <section class="span4 articles-list">#}
{#                                                                <h3>Featured Articles</h3>#}
{#                                                                <ul class="articles">#}
{#                                                                        <li class="article-entry standard">#}
{#                                                                                <h4><a href="single.html">Latest vaccination policy</a></h4>#}
{#                                                                                <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>#}
{#                                                                                <span class="like-count">66</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry standard">#}
{#                                                                                <h4><a href="single.html">WordPress Site Maintenance</a></h4>#}
{#                                                                                <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>#}
{#                                                                                <span class="like-count">15</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry video">#}
{#                                                                                <h4><a href="single.html">Meta Tags in WordPress</a></h4>#}
{#                                                                                <span class="article-meta">23 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>#}
{#                                                                                <span class="like-count">8</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry image">#}
{#                                                                                <h4><a href="single.html">WordPress in Your Language</a></h4>#}
{#                                                                                <span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>#}
{#                                                                                <span class="like-count">6</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry standard">#}
{#                                                                                <h4><a href="single.html">Know Your Sources</a></h4>#}
{#                                                                                <span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>#}
{#                                                                                <span class="like-count">2</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry standard">#}
{#                                                                                <h4><a href="single.html">Validating a Website</a></h4>#}
{#                                                                                <span class="article-meta">21 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>#}
{#                                                                                <span class="like-count">3</span>#}
{#                                                                        </li>#}
{#                                                                </ul>#}
{#                                                        </section>#}
                                            <div class="page-section" id="projects">
                    <div class="row">

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">Latest vaccination policy</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-14</span>
											<span class="category">admin</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“Combining the national epidemic situation
									and the action trajectory of confirmed cases
									in Beijing, the latest epidemic prevention
									and control policy is as follows, please
									read it carefully and strictly follow
									the prevention and control policy.”
								</p>
							</article>
						</div>

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">Sino- Irish Culture Week</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-12</span>
											<span class="category">Beijing-Dublin International College</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“To help students understand the charm of Chinese-Irish culture,
									Beijing-Dublin International College will hold a series of activities
									for Sino- Irish Culture Week from March 14-18, so that you can
									experience the interesting Chinese- Irish culture in-depth,
									let's drive together to see what is available!”
								</p>
							</article>
						</div>

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">3.15 avoidance list</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-15</span>
											<span class="category">Belle</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“315 live is over,
									I summarized the list of mentioned
									food with problems, you can avoid these businesses.”
								</p>
							</article>
						</div>

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">Do you think the taste of the cafeteria has changed this semester?</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-17</span>
											<span class="category">anonymous user</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“I don't know whether it's because the holidays just ended,
									but I feel that the dining hall meals are not as good as last semester?
									Do you all think the same as me?”
								</p>
							</article>
						</div>

						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">Qingming holiday travel strategy</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-16</span>
											<span class="category">Sephi</span>
									</div><!-- end of post meta -->
								</header>
								<p>
									“he Qingming Festival is coming up,
									the current epidemic situation is not too optimistic,
									remote travel is basically impossible,
									here to share my personal summary of some local places
									to visit in Beijing for the Qingming Festival.”
								</p>
							</article>
						</div>
						<div id="pagination">
						    <a href="#" class="btn active">1</a>
						    <a href="#" class="btn">2</a>
						    <a href="#" class="btn">3</a>
						    <a href="#" class="btn">Next »</a>
						    <a href="#" class="btn">Last »</a>
						</div>
                    </div>
                    </div>

                    <hr>

                    <div class="row" id="footer">
                        <div class="col-md-12 text-center">
							<p class="copyright-text"><strong> Copyright © 2022 BJUT Forum</strong> All rights reserved.</p>
                        </div>
                    </div>

                </div>


{#                                                        <section class="span4 articles-list">#}
{#                                                                <h3>Latest Articles</h3>#}
{#                                                                <ul class="articles">#}
{#                                                                        <li class="article-entry standard">#}
{#                                                                                <h4><a href="single.html">Integrating WordPress with Your Website</a></h4>#}
{#                                                                                <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>#}
{#                                                                                <span class="like-count">66</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry standard">#}
{#                                                                                <h4><a href="single.html">Using Javascript</a></h4>#}
{#                                                                                <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>#}
{#                                                                                <span class="like-count">18</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry image">#}
{#                                                                                <h4><a href="single.html">Using Images</a></h4>#}
{#                                                                                <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Designing in WordPress">Designing in WordPress</a></span>#}
{#                                                                                <span class="like-count">7</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry video">#}
{#                                                                                <h4><a href="single.html">Using Video</a></h4>#}
{#                                                                                <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in WordPress Plugins">WordPress Plugins</a></span>#}
{#                                                                                <span class="like-count">7</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry standard">#}
{#                                                                                <h4><a href="single.html">WordPress Site Maintenance</a></h4>#}
{#                                                                                <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>#}
{#                                                                                <span class="like-count">15</span>#}
{#                                                                        </li>#}
{#                                                                        <li class="article-entry standard">#}
{#                                                                                <h4><a href="single.html">WordPress CSS Information and Techniques</a></h4>#}
{#                                                                                <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Theme Development">Theme Development</a></span>#}
{#                                                                                <span class="like-count">1</span>#}
{#                                                                        </li>#}
{#                                                                </ul>#}
{#                                                        </section>#}
                                                </div>
                                        </div>
                                        <!-- end of page content -->


{#                                        <!-- start of sidebar -->#}
{#                                        <aside class="span4 page-sidebar">#}
{##}
{#                                                <section class="widget">#}
{#                                                        <div class="support-widget">#}
{#                                                                <h3 class="title">Support</h3>#}
{#                                                                <p class="intro">Need more support? If you did not found an answer, contact us for further help.</p>#}
{#                                                        </div>#}
{#                                                </section>#}
{##}
{#                                                <section class="widget">#}
{#                                                        <div class="quick-links-widget">#}
{#                                                                <h3 class="title">Quick Links</h3>#}
{#                                                                <ul id="menu-quick-links" class="menu clearfix">#}
{#                                                                        <li><a href="index-2.html">Home</a></li>#}
{#                                                                        <li><a href="articles-list.html">Articles List</a></li>#}
{#                                                                        <li><a href="faq.html">FAQs</a></li>#}
{#                                                                        <li><a href="contact.html">Contact</a></li>#}
{#                                                                </ul>#}
{#                                                        </div>#}
{#                                                </section>#}
{##}
{#                                                <section class="widget">#}
{#                                                        <h3 class="title">Tags</h3>#}
{#                                                        <div class="tagcloud">#}
{#                                                                <a href="#" class="btn btn-mini">basic</a>#}
{#                                                                <a href="#" class="btn btn-mini">beginner</a>#}
{#                                                                <a href="#" class="btn btn-mini">blogging</a>#}
{#                                                                <a href="#" class="btn btn-mini">colour</a>#}
{#                                                                <a href="#" class="btn btn-mini">css</a>#}
{#                                                                <a href="#" class="btn btn-mini">date</a>#}
{#                                                                <a href="#" class="btn btn-mini">design</a>#}
{#                                                                <a href="#" class="btn btn-mini">files</a>#}
{#                                                                <a href="#" class="btn btn-mini">format</a>#}
{#                                                                <a href="#" class="btn btn-mini">header</a>#}
{#                                                                <a href="#" class="btn btn-mini">images</a>#}
{#                                                                <a href="#" class="btn btn-mini">plugins</a>#}
{#                                                                <a href="#" class="btn btn-mini">setting</a>#}
{#                                                                <a href="#" class="btn btn-mini">templates</a>#}
{#                                                                <a href="#" class="btn btn-mini">theme</a>#}
{#                                                                <a href="#" class="btn btn-mini">time</a>#}
{#                                                                <a href="#" class="btn btn-mini">videos</a>#}
{#                                                                <a href="#" class="btn btn-mini">website</a>#}
{#                                                                <a href="#" class="btn btn-mini">wordpress</a>#}
{#                                                        </div>#}
{#                                                </section>#}
{##}
{#                                        </aside>#}
{#                                        <!-- end of sidebar -->#}
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->

                <!-- Start of Footer -->
                <footer id="footer-wrapper">
                        <div id="footer" class="container">
                                <div class="row">

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">How it works</h3>
                                                        <div class="textwidget">
                                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                                                        </div>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget"><h3 class="title">Categories</h3>
                                                        <ul>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Advanced Techniques</a> </li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Designing in WordPress</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Server &amp; Database</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">Theme Development</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Website Dev</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">WordPress for Beginners</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">WordPress Plugins</a></li>
                                                        </ul>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">Latest Tweets</h3>
                                                        <div id="twitter_update_list">
                                                                <ul>
                                                                        <li>No Tweets loaded !</li>
                                                                </ul>
                                                        </div>

                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">Flickr Photos</h3>
                                                        <div class="flickr-photos" id="basicuse">
                                                        </div>
                                                </section>
                                        </div>

                                </div>
                        </div>
                        <!-- end of #footer -->

                        <!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <!-- Social Navigation -->
                                                        <ul class="social-nav clearfix">
                                                                <li class="linkedin"><a target="_blank" href="#"></a></li>
                                                                <li class="stumble"><a target="_blank" href="#"></a></li>
                                                                <li class="google"><a target="_blank" href="#"></a></li>
                                                                <li class="deviantart"><a target="_blank" href="#"></a></li>
                                                                <li class="flickr"><a target="_blank" href="#"></a></li>
                                                                <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                                                                <li class="rss"><a target="_blank" href="#"></a></li>
                                                                <li class="twitter"><a target="_blank" href="#"></a></li>
                                                                <li class="facebook"><a target="_blank" href="#"></a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                <script type='text/javascript' src='../static/js_b/jquery-1.8.3.min.js/'></script>
                <script type='text/javascript' src='../static/js_b/jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='../static/js_b/prettyphoto/jquery.prettyPhoto.js'></script>
                <script type='text/javascript' src='../static/js_b/jflickrfeed.js'></script>
				<script type='text/javascript' src='../static/js_b/jquery.liveSearch.js'></script>
                <script type='text/javascript' src='../static/js_b/jquery.form.js'></script>
                <script type='text/javascript' src='../static/js_b/jquery.validate.min.js'></script>
                <script type='text/javascript' src='../static/js_b/custom.js'></script>

        </body>
</html>