{% extends "bootstrap/base.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>BJUT Forum</title>
            <link rel="shortcut icon" href="../static/img/logo.jpeg" />
            <link rel='stylesheet' id='main-css-css' href='../static/css_b/main_index.css' type='text/css' media='all' />
            <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="../static/css_userinfo/userinfo.css" type="text/css">
            <link rel="stylesheet" href="../static/css/homepage.css" type="text/css">
            <link rel="stylesheet" href="../static/css/lostAndFound.css" type="text/css">


        </head>

        <div>
        {% include 'base.html' %}
        </div>


        <div class="contain flash" >
	{% for message in get_flashed_messages() %}
	<div class="alert alert-info">
        <button type="button" class="closeU xxx" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">Close</span>
        </button>
        <strong>{{ message }}</strong>
    </div>
            {% endfor %}
	</div>

        <div class="pic">
            <p class="font">Lost and Found</p>
        </div>

        <div class="boxLF">

            {% for lpost in lposts %}
                {{lpost.details}}
            {% endfor %}



           <form action="" method="post" class="formOne" enctype="multipart/form-data" role="lform">
               {{ lform.csrf_token }}
               <div class="postOne"><label class="lPostFont" for="title">Title:</label>
                   <input class="lInput" id="title" name="title" placeholder="Subject" required/>
               </div>

               <div class="postOne"><label class="lPostFont" for="lorf">lose or find:</label>
                   <input class="lInputOne" id="lorf" name="lorf" placeholder="lose or find" value="">
               </div>

               <div class="form-group  required"><label class="control-label" for="photo"></label>
                   <input id="photo" name="photo" required type="file">
               </div>
               <div class="form-group  required"><label class="control-label" for="location">Where did you lose/find it?</label>

                   <input class="lInput" id="location" name="location" required value="">
               </div>
               <div class="form-group  required"><label class="control-label" for="contact">Leave your contact</label>

                   <input class="form-control" id="contact" name="contact" required type="text" value="">
               </div>
               <div class="form-group "><label class="control-label" for="reward">reward if u lost, or nothing add here will be o</label>
                   <input class="form-control" id="reward" name="reward" type="text" value="">
               </div>

               <div class="form-group  required"><label class="control-label">Details:</label>
                   <div class="flask-pagedown"><textarea class="postTwo flask-pagedown-input" id="flask-pagedown-details" name="details" placeholder="Enter some details" required></textarea></div>
                   <div class="flask-pagedown-preview" id="flask-pagedown-details-preview"></div>
                   <script type="text/javascript">
                       f = function() {
                           if (typeof flask_pagedown_converter === "undefined")
                               flask_pagedown_converter = Markdown.getSanitizingConverter().makeHtml;
                           var textarea = document.getElementById("flask-pagedown-details");
                           var preview = document.getElementById("flask-pagedown-details-preview");
                           textarea.onkeyup = function() { preview.innerHTML = flask_pagedown_converter(textarea.value); }
                           textarea.onkeyup.call(textarea);
                       }
                       if (document.readyState === 'complete')
                           f();
                       else if (window.addEventListener)
                           window.addEventListener("load", f, false);
                       else if (window.attachEvent)
                           window.attachEvent("onload", f);
                       else
                           f();
                   </script>

               </div>

               <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
           </form>
        </div>

{% endblock %}