{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% include 'base.html' %}
<link rel='stylesheet' id='main-css-css' href='../static/css_b/main_index.css' type='text/css' media='all' />

                <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css_b/follow.css" type="text/css">

<div class="avatar">
	 <img src="../static/img/logo.jpeg" alt="">
</div>
<div class="username">
        <span>{{ user.username }}</span>
</div>




<div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                            <div class="page-section" id="projects_New">
                    <div class="row">
						<ul class="posts">
						{% for post in posts %}
						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="#">Latest vaccination policy</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">2022-03-14</span>
											<span class="category">
												<a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
											</span>
									</div><!-- end of post meta -->
								</header>
								<div class="post-body">{{ post.body }}</div>
							</article>
						</div>

						{% endfor %}
						</ul>


					</div>

												 <div class="pagination">
                                                    {{ macros.pagination_widget(pagination, '.index') }}
                                                </div>

											</div>
										</div>
								</div>
						</div>
	</div>

