<div>
    {% include 'base.html' %}
</div>

{% import "bootstrap/wtf.html" as wtf %}

<h1>UserInformationPage</h1>
<form action="" method="get" novalidate>
    <p type="text" id="7dadi" name="7dadi" value="username"
               onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
               onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999">
        {{form.username.label}}<br>
        {{form.username(size=32)}}
    </p>
    <p>
        {{form.Firstname.label}}<br>
        {{form.Firstname(size=32)}}
    </p>
    <p>
        {{form.Lastname.label}}<br>
        {{form.Lastname(size=32)}}
    </p>
    <p>
        {{form.Birthday.label}}<br>
        {{form.Birthday(size=32)}}
    </p>
    <p>{{form.submit()}}</p>
</form>